/* General Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(33, 33, 33);
  width: 100%;
  height: 100vh;
}

/* Header */
header {
  background-color: rgb(33, 33, 33);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 11;
  position: sticky;
  top: 0;
}
header i{
  font-size:25px;
  color: white;
  cursor: pointer;
}
header #crossToggle{
  display:none;
}
header .login-section {
  display: flex;
  gap: 10px;
}
header .login-section a {
  text-decoration: none;
  color: white;
}
header .login{
  background-color: white;
  padding:6px 8px 4px 8px;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
header .login a{
  color: black;
}
header .signup {
  background-color: rgb(48, 39, 27);
  padding: 5px 8px 5px 8px;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid rgb(48, 39, 27);
}
header .signup:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
/* Sidebar Navigation */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(33, 33, 33);
  transition: left 0.2s ease;
  padding-top: 70px;
  color: white;
  font-size: 20px;
  z-index: -1;
}
.sidebar ul li {
  display: flex;
  justify-content:left;
  align-items: center;
  padding: 15px;
  margin-left: 20px;
  list-style: none;
}
.sidebar ul li a{
  text-decoration: none;
  color: white;
}
.sidebar ul li i {
  color: white;
   margin-right: 10px;
}
.sidebar ul li:hover {
  cursor: pointer;
  background-color:rgba(128, 128, 128, 0.379);
  border-radius: 20px;
}

/* Main Container */
.main-container {
  height: 80%;
  background-color: rgb(33, 33, 33);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.main-container .chatbot-label {
  color: white;
  font-size:2rem;
  position: relative;
  bottom:12vh;
}
/* Chat Container */
.chat-container {
  width: 70%;
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.chat-box {
  max-height: 100% auto;
  flex: 1;
  overflow-y: scroll;
}
#user-message {
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#user-message p {
  background-color: rgb(48, 48, 48);
  padding: 7px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
} 
/*loader styling */
#loading {
  display: flex;
  justify-content:left;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#loading pre {
  margin-left:10px;
  padding: 7px;
  border-radius: 10px;
  color: cyan;
} 
/* From Uiverse.io by andrew-demchenk0 */ 
.cube-loader {
  position: relative;
/* u can choose any size */
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
                                     /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(10px);
  background: linear-gradient(
    to bottom,
    hsl(330, 3.13%, 25.1%) 0%,
    hsl(177.27, 21.71%, 32.06%) 5.5%,
    hsl(176.67, 34.1%, 36.88%) 12.1%,
    hsl(176.61, 42.28%, 40.7%) 19.6%,
    hsl(176.63, 48.32%, 43.88%) 27.9%,
    hsl(176.66, 53.07%, 46.58%) 36.6%,
    hsl(176.7, 56.94%, 48.91%) 45.6%,
    hsl(176.74, 62.39%, 50.91%) 54.6%,
    hsl(176.77, 69.86%, 52.62%) 63.4%,
    hsl(176.8, 76.78%, 54.08%) 71.7%,
    hsl(176.83, 83.02%, 55.29%) 79.4%,
    hsl(176.85, 88.44%, 56.28%) 86.2%,
    hsl(176.86, 92.9%, 57.04%) 91.9%,
    hsl(176.88, 96.24%, 57.59%) 96.3%,
    hsl(176.88, 98.34%, 57.93%) 99%,
    hsl(176.89, 99.07%, 58.04%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 20px;
  height: 20px;
  background: hsl(330, 3.13%, 25.1%) 0%;
                      /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(10px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: '';
  position: absolute;
/* u can choose any size */
  width: 20px;
  height:20px;
  background: hsl(176.61, 42.28%, 40.7%) 19.6%;
  transform: translateZ(-40px);
  filter: blur(10px);
  box-shadow: 0 0 10px #323232,
              0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
              0 0 30px #323232,
              0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}


#chatbot-message {
  display: flex;
  justify-content: left;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}
#chatbot-message pre {
  max-width: 100% auto;
  padding: 7px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.6;
  word-spacing: 0.5px;
  text-align: left;
  font-size:0.9em;
}
.input-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background-color: rgb(48, 48, 48);
  border-radius:50px;
  height:20vh;
}
.input-box i {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  padding: 5px 7px;
  transition: all 0.2s;
  background-color: transparent;
  border-radius: 50%;
}
.input-box i:hover {
  cursor: pointer;
  scale: 1.1;
  box-shadow: 1px 4px 20px rgba(0, 247, 255, 0.704);;
}
.input-box input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 5px;
  background-color: transparent;
  font-size: 15px;
  color: white;
}
/* From Uiverse.io by eirikvold */ 
button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
  color: white;
  padding: 0.4em 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.1em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.2em;
  transition: all 0.3s;
}
button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}
button:hover svg {
  transform: rotate(45deg);
}
/* Footer */
footer {
  height: 5vh;
  background-color: transparent;
  text-align: center;
}
.footer-bottom p {
  font-size: 10px;
  color: white;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .sidebar {
    width:200px;
    font-size: 20px;
    font-weight: 600;
  }
  .sidebar ul{
    margin-top:30px;
  }
  .sidebar li i{
    font-size: 25px;
  }
  .chat-container {
     width: 100%;;
    max-height:80vh;
    background-color: rgb(33, 33, 33);
  }
  .main-container {
    height:100%;
  }
  .input-box input {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
  header {
    padding: 20px;
  }
  header i {
    font-size: 35px;
  }
  .chat-container{
    width:100%;
    max-height:80vh auto;
    padding:10px;
  }
  .input-box{
    border-radius:70px;
    display:flex;
    flex-direction:row;
    width:100%;
    height:10vh;
  }
  #speech{
    display: none;
  }
  .input-box input{
    width: 100%;
  }
}
