* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width:60%;
    height: 80vh;
    display: flex;
    background: white;
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  }
  .signin-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url('image\ 1.jpg');
    background-size: cover;
    padding:10px;
    text-align: center;
    border-radius: 10px;
  }
  .signin-box h2{
    color: #333;
  }
  .signin-box p{
    margin:10px;
    color:black;
    font-size:15px;
  }
   .signin-box button{
    background:#333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .signin-box button:hover{
    scale: 1.1;
  }
  /* for second box */

  .signup-box{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    text-align: center;
  }
  .signup-box h2{
    color: #333;
    margin-bottom: 20px;
  }
  .signup-box .input-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
  .signup-box  .input-box input{
    width:90%;
    padding:10px;
    border-radius:10px;
    outline: none;
    border:1px solid #666 ;
    margin:2px 0;
  }
  .input-box button{
    background: #2dbd6e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Responsive Design */
@media screen and (max-width: 768px) {
  .container{
    display: flex;
    flex-direction:column;
    width: 90%;
    height:70vh auto;
    padding:20px;
   }
   .signup-box{
    width: 100%;
   }
   .signup-box .input-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap:5px;
    padding: 20px;
  }
  .signup-box .input-box input{
    width:100%;
  }
   .signin-box{
    padding:30px;
    width: 100%;
   }
  
}

@media screen and (max-width: 480px) {
  .container{
    display: flex;
    flex-direction:column;
    width: 90%;
    height:auto;
    padding:20px;
   }
   .signup-box{
    width: 100%;
   }
   .signup-box .input-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap:5px;
  }
  .signup-box .input-box input{
    width:100%;
  }
   .signin-box{
    padding:30px;
    width: 100%;
   }
}
